[flake8]
exclude =
    .git,
    .github,
    __pycache__,
    .pytest_cache,
    .env,
    env,
    .pyenv,
    pyenv,
    *.egg_info
max_line_length = 88
ignore = E121,E123,E126,E226,E24,E704,W503,W504
extend_ignore =
    SIM905,
    N806,
    PIE798,
    PT011,  # FIXME: awaits tests and exceptions
    DAR,  # FIXME: until docstrings are fixed
    PIE786,  # FIXME: until new exceptions are added
# FIXME: requires renaming
per-file-ignores =
    thor_devkit/*:FNE,N802
