repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-merge-conflict
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
-   repo: https://github.com/csachs/pyproject-flake8
    rev: v0.0.1a4
    hooks:
      - id: pyproject-flake8
        name: flake8
        additional_dependencies: [
          'flake8',
          'flake8-docstrings',
          'flake8-rst-docstrings',
          'flake8-2020',
          'flake8-alfred',
          'flake8-broken-line',
          'flake8-bugbear',
          'flake8-builtins',
          'flake8-debugger',
          'flake8-noqa',
          'flake8-pep3101',
          'flake8-pie',
          'flake8-pytest',
          'flake8-pytest-style',
          'flake8-simplify',
          'pep8-naming',
          'pycodestyle',
        ]
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --config=pyproject.toml --cache-dir=/dev/null --no-incremental
        language: system
        types: [ python ]
      - id: pytest
        name: pytest
        entry: pytest -vv -s
        language: system
        types: [ python ]
        pass_filenames: false
        exclude: "setup.py"
        always_run: true
