name: Pull Request & Push to Master Branch

on:
  push:
    branches:
      master
  pull_request:
    branches:
      master
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11-dev']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install .[test]
          pip install pre-commit
      - name: Run pre-commit
        run: |
          pre-commit install
          # python<3.7 uses older flake8 version, that reports errors on decorator line
          # instead of def line. We cannot satisfy both, just ignore legacy and old.
          if [ $(python -V | cut -d. -f2) -le 7 ]
          then
            SKIP="pytest,pyproject-flake8" pre-commit run --all-files -v
          else
            SKIP="pytest" pre-commit run --all-files -v
          fi;

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11-dev']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install .[test]
      - name: Run pytest
        run: |
          pytest -vv -s

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install -e .[docs]
      - name: Make docs
        run: |
          cd docs
          make clean html
          sphinx-build -b linkcheck source build/linkcheck
